<footer class="bg-dark text-white">
  <div class="container-fluid px-4"> 
    <div class="py-4"> <!-- padding vertical -->
      <h4 class="text-white mb-3">Sigue Avanzando</h4> <!-- h4 en lugar de h1 -->
      
      <!-- Divider que llega a los bordes -->
      <hr class="bg-light m-0 mb-4">
      
      <div class="row g-4"> <!-- Añadido gap entre columnas -->
        <div class="col-6 col-md-2">
          <h6>Síguenos</h6> <!-- h6 en lugar de h5 -->
          <div class="d-flex gap-2"> <!-- Gap más pequeño -->
            <a href="#" class="text-white fs-5"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-white fs-5"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white fs-5"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        
        <div class="col-6 col-md-2">
          <h6>Mike</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Acerca de Mike</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Noticias</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Blog</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Vacantes</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Sostenibilidad</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Reportar un problema</a>
            </li>
          </ul>
        </div>
        
        <div class="col-6 col-md-2">
          <h6>Compra en Línea</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Centro de ayuda</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Cambios o devoluciones</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Formas de pago</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Meses sin intereses</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Estatus de mi pedido</a>
            </li>
          </ul>
        </div>
        
        <div class="col-6 col-md-2">
          <h6>Atención al Cliente</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Acerca de Mike</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Noticias</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Blog</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Empleo</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Sostenibilidad</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Reportar un problema</a>
            </li>
          </ul>
        </div>
        
        <div class="col-6 col-md-2">
          <h6>Recursos</h6>
          <ul class="nav flex-column">
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Buscar Tienda</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Hazte miembro</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Envíanos tus Comentarios</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Descuento para estudiantes</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Terminos y Condiciones</a>
            </li>
            <li class="nav-item mb-1">
              <a href="#" class="nav-link p-0 text-white-50 small">Promociones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Copyright más compacto -->
    <div class="border-top border-secondary pt-3 pb-3 text-center">
      <p class="mb-0 text-white-50 small">
        &copy; 2024 Mike Store. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>