<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="index.html">
        <img src="../../public/images/mike-logo.jpg" alt="mike-logo" width="70">
      </a>
      <ul class="navbar-nav mx-auto text-center text-lg-start">
        <li class="nav-item">
          <a class="nav-link active" href="/src/pages/productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="/public/images/carritoBlanco.png" alt="carrito" width="25">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>